.byebug_history
.DS_Store
.env
.env.*.local
.env.production
.env.staging
.powenv
.rspec
.sass-cache
*.rbc
*.sassc
**.orig
/.bundle
/.vscode
/coverage
/coverage/
/_data
/db/*.sqlite3*
/etc/secret
/log/*
/node_modules
/public/assets
/public/system/*
/spec/tmp/*
/staging_db_tunnel
/storage
/test/reports
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
public/assets/uploads/
rerun.txt
