.byebug_history
.DS_Store
.env
.env.*.local
.env.production
.env.staging
.powenv
.rspec
.sass-cache
.vscode/
*.rbc
*.sassc
**.orig
/.bundle
/coverage/
/db/*.sqlite3*
/db/data
/etc/secret
/log/*
/node_modules
/public/assets
/public/system/*
/spec/tmp/*
/test/reports
/tmp/*
/vendor/bundle
capybara-*.html
coverage
pickle-email-*.html
public/assets/uploads/
rerun.txt
staging_db_tunnel
storage
tmp/storage
