# Originally inspired on: https://gist.github.com/satendra02/1b335b06bfc5921df486f26bd98e0e89

version: '3'
services:
  db:
    image: mysql:8.0
    volumes:
      - ./_data:/var/lib/mysql
    restart: always
    ports:
      - 127.0.0.1:13306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
    command: [--default-authentication-plugin=mysql_native_password]

  app:
    build:
      context: .
      dockerfile: ./docker/app/DockerFile
    volumes:
      - .:/var/www/app
    restart: always
    depends_on:
      - db

  web:
    build:
      context: .
      dockerfile: ./docker/web/DockerFile
      args:
        BASIC_AUTH_USERNAME: ${BASIC_AUTH_USERNAME}
        BASIC_AUTH_PASSWORD: ${BASIC_AUTH_PASSWORD}
    depends_on:
      - app
    ports:
      - 80:80
      - 443:443
    volumes:
      - .:/var/www/app
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    restart: always

  cron:
    build:
      context: .
      dockerfile: ./docker/cron/DockerFile
    volumes:
      - .:/var/www/app
    restart: always
    depends_on:
      - db

  certbot:
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot

  promtail:
    image: grafana/promtail:3.0.0
    volumes:
      - ./docker/promtail/config.yml:/etc/promtail/config.yml
      - ./log/:/var/log/rails/:ro
    command: -config.file=/etc/promtail/config.yml

  # From: https://stackoverflow.com/a/66060895/316700
  node_exporter:
    image: prom/node-exporter:v1.8.0
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      # Remember to use read-only bind mounts.
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro,rslave
    command:
      - "--web.listen-address=:9100"
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--path.rootfs=/rootfs" # Necessary for collecting host filesystem metrics.
      - "--collector.filesystem.ignored-mount-points='^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)'"
