<% title (t "views.appreciations.index.title") %>

<ol class="breadcrumb">
  <li class="active"><%= t "layouts.breadcrumbs.appreciations" %></li>
</ol>

<p><%= link_to "New Appreciation", new_admin_appreciation_path, :class => "btn btn-outline-primary" %></p>

<%= render partial: "list", locals: { appreciations: @appreciations } %>

