<% title (t "views.appreciations.new.title") %>

<ol class="breadcrumb">
  <li><%= link_to (t "layouts.breadcrumbs.appreciations"), :admin_appreciations %></li>
  <li class="active"><%= t "layouts.breadcrumbs.new" %></li>
</ol>

<p class="lead">
  <%= (t "views.appreciations.new.text") %>
</p>


<%= render "form" %>
