<% title t("views.articles.new.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t("layouts.breadcrumbs.articles"), :admin_articles %></li>
    <li class="breadcrumb-item active"><%= t "layouts.breadcrumbs.new" %></li>
  </ol>
</nav>

<p class="lead">
  <%= t("views.articles.new.text") %>
</p>


<%= render "form" %>
