<% title (t "views.posts.edit.title", :title => @post.title) %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to (t "layouts.breadcrumbs.posts"), :front_posts %></li>
    <li class="breadcrumb-item"><%= link_to @post.title, [:front, @post] %></li>
    <li class="breadcrumb-item active"><%= t "layouts.breadcrumbs.edit" %></li>
  </ol>
</nav>

<%= render "form" %>
