@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
  font-family: 'Merriweather', serif;
  background-color: #e6eac8;
}

@media (max-width: 440px) {
  .jumbotron .display-4 {
    font-size: 2.4rem;
  }
}

/* Welcome page */
.welcome.jumbotron {
  background-color: #a7a44c69;
  transform: rotate(-1deg);
  box-shadow: 3px 7px 9px 1px black;
  text-align: center;
}

.welcome.jumbotron img {
  max-width: 100%;
}

.welcome.jumbotron .heart {
  font-size: 10em;
  margin-top: -0.5em;
  transform: rotate(10deg);
}

.welcome.jumbotron .logo {
  margin-top: -12em;
  transform: rotate(1deg);
}

/* Login page */
.login.jumbotron {
  background-color: #d677a369;
  transform: rotate(2deg);
  box-shadow: 3px 7px 9px 1px black;
  text-align: center;
}


#appreciation-form .jumbotron {
  background-color: #ecf5ea;
}

#appreciation-form textarea, #appreciation-form .form-control-file {
  background-color: #ffffff;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid #f9f9f9;
  margin: -1em 0em 0.5em 0.5em;
  width: 97%;
  transform: rotate(-1deg);
  z-index: 5;
  box-shadow: 2px 3px 5px 4px #788a79ab;
}

#appreciation-form .form-control-file {
  margin-top: -0.1em;
}

#appreciation-form form p {
  transform: rotate(1deg);
  z-index: 10;
}

#appreciation-form form p span{
  font-size: x-large;
  transform: rotate(1deg);
  background-color: #c2d6c3;
  padding: 0.2em 0.5em;
}

/** Appreciation Card **/

.appreciation p.static>span {
  background-color: #0000002b;
  padding: 0.5em;
  margin-left: 0.5em;
}

.appreciation p.static>span>span {
  background-color: #00000070;
  font-size: 1.2em;
  padding: 0.1em;
  margin: -1em 0em 1em -1em;
  color: #ffffff9c;
}

/* style_snell */
.appreciation.style_snell {
  background-color: #f6b4da;
  transform: rotate(1deg);
  box-shadow: 5px 4px 8px 2px #613030;
}

.appreciation.style_snell p.static {
  transform: rotate(-5deg);
}

.appreciation.style_snell .by,
.appreciation.style_snell .message{
  transform: rotate(1deg);
  background-color: #f6b4da;
  margin-bottom: .75rem;
  background-color: #ffffffb8;
  padding: 0.5em;
  transform: rotate(-2deg);
  margin: -0.5em 0em 1em 0em;
  box-shadow: 2px 2px 4px 1px #0000008c;
}

.appreciation .bottom.card-link {
  color: #7b7b7b9c;
}

.appreciation .card-img-top img {
  max-width: 100%;
}

/* style_fish */
.appreciation.style_fish {
  background-color: #e2ea58;
  transform: rotate(-1deg);
  box-shadow: 5px 4px 8px 2px #555629;
}

.appreciation.style_fish p.static {
  transform: rotate(2deg);
}

.appreciation.style_fish .by,
.appreciation.style_fish .message{
  transform: rotate(1deg);
  margin-bottom: .75rem;
  background-color: #ffffffb8;
  padding: 0.5em;
  transform: rotate(-2deg);
  margin: -0.5em 0em 1em 0em;
  box-shadow: 2px 2px 4px 1px #0000008c;
}

.appreciation.style_fish .message{
  transform: rotate(1deg);
}

/* style_waterfly */
.appreciation.style_waterfly {
  background-color: #9bf35973;;
  transform: rotate(-2deg);
  box-shadow: 5px 4px 8px 2px #426130;
}

.appreciation.style_waterfly p.static {
  transform: rotate(-1deg);
}

.appreciation.style_waterfly .by,
.appreciation.style_waterfly .message{
  margin-bottom: .75rem;
  background-color: #ffffffc7;
  padding: 0.5em;
  transform: rotate(-2deg);
  margin: -0.5em 0em 1em 0em;
  box-shadow: 2px 2px 4px 1px #0000008c;
}

.appreciation.style_waterfly .message{
  transform: rotate(1deg);
}

/* style_no_saved */
.appreciation.style_no_saved {
  background-color: #e2ecdcde;
  transform: rotate(-2deg);
  box-shadow: 5px 4px 8px 2px #6b6a55;
}

.appreciation.style_no_saved p.static {
  transform: rotate(-1deg);
}

.appreciation.style_no_saved .by,
.appreciation.style_no_saved .message{
  margin-bottom: .75rem;
  background-color: #ffffffc7;
  padding: 0.5em;
  transform: rotate(-2deg);
  margin: -0.5em 0em 1em 0em;
  box-shadow: 2px 2px 4px 1px #0000008c;
}

.appreciation.style_no_saved .message{
  transform: rotate(1deg);
}

/* form */

.appreciation textarea.form-control {
  background-color: #fff0;
  border: none;
  padding: 0;
}

.appreciation h5 textarea.form-control {
  font-size: 1.25rem;
}
