<div class="col mb-2">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title"><%= article.title %></h5>
        </div>
        <div class="col text-end">
          <%= render_labels(article.tag_list, :tags) %>
        </div>
      </div>
      <p class="card-text"><%= truncate(article.body, length: 300) %></p>
      <%= link_to "Read article", [:front, article], class: "btn btn-primary" %>
    </div>
  </div>
</div>
