<div class="jumbotron welcome">
  <h1 class="display-4">RailsSkeleton</h1>
  <p class="lead">A simple multi blog manager</p>
  <hr class="my-4">
  <p class="scrapstats-logo">
    <img src="/assets/app/shared/scrapstats_logo.png">
  </p>

  <p class="heart">
    ❤️
  </p>

  <p class="logo">
    <img src="/assets/app/shared/logo.png">
  </p>

  <%= link_to t("layouts.menu.posts"), :front_posts %>
</div>
