<div class="jumbotron welcome">
  <h1 class="display-4">ScrapStats's Appreciations Billboard</h1>
  <p class="lead">A simple channel to exhibit appreciation for your colleges</p>
  <hr class="my-4">
  <p class="scrapstats-logo">
    <img src="/assets/app/shared/scrapstats_logo.png">
  </p>

  <p class="heart">
    ❤️
  </p>

  <p class="logo">
    <img src="/assets/app/shared/logo.png">
  </p>

  <p>Express your gratitude</p>
  <%= link_to t("layouts.menu.new_appreciation"), :new_front_appreciation, :class => "btn btn-outline-primary btn-lg" %>
  or <%= link_to t("layouts.menu.appreciations"), :front_appreciations %>
</div>
