<% title (t "views.admin_users.new.title") %>

<ol class="breadcrumb">
  <li><%= link_to (t "layouts.breadcrumbs.admin_users"), :admin_admin_users %></li>
  <li class="active"><%= t "layouts.breadcrumbs.new" %></li>
</ol>

<p class="lead">
  <%= (t "views.admin_users.new.text") %>
</p>


<%= render "form" %>
