<% title (t "views.posts.new.title") %>

<ol class="breadcrumb">
  <li><%= link_to (t "layouts.breadcrumbs.posts"), :admin_posts %></li>
  <li class="active"><%= t "layouts.breadcrumbs.new" %></li>
</ol>

<p class="lead">
  <%= (t "views.posts.new.text") %>
</p>


<%= render "form" %>
