<% title t("views.articles.index.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= t "layouts.breadcrumbs.articles" %></li>
  </ol>
</nav>

<%= render partial: "list", locals: { articles: @articles } %>

<%= paginate @articles %>
