<% title t("views.articles_filters.new.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= t("layouts.breadcrumbs.articles_filters") %></li>
    <li class="breadcrumb-item active"><%= t "layouts.breadcrumbs.new" %></li>
  </ol>
</nav>

<p class="lead">
  <%= t("views.articles_filters.new.text") %>
</p>


<%= render "form" %>
