$progress-header-bg-colour: rgb(251, 229, 206);
$target-group-header-bg-colour: rgb(217, 234, 212);

$range-worst: rgb(228, 124, 117);
$range-bad: rgb(242, 190, 186);
$range-med: white;
$range-good: rgb(172, 221, 198);
$range-best: rgb(91, 186, 139);

$cell-border-colour: rgb(218, 218, 218);

img.header-logo {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  border: 1px solid $cell-border-colour;
}
th, td {
  border: 1px solid $cell-border-colour;
}

th.target-group {
  background-color: $target-group-header-bg-colour;
}
th.progress-header {
  background-color: $progress-header-bg-colour;
}

.expanded,.collapsed {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.expanded:before {
  content: attr(data-expanded);
}
.collapsed:before {
  content: attr(data-collapsed);
}

td.worst {
  background-color: $range-worst;
}
td.bad {
  background-color: $range-bad;
}
td.med {
  background-color: $range-med;
}
td.good {
  background-color: $range-good;
}
td.best {
  background-color: $range-best;
}
