<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to :front_root, :class => "navbar-brand" do %>
    <img src="/assets/app/shared/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ScrapStats
  <% end %>
</nav>
